/*Importation de la police personnalisée FontAwesome pour pouvoir utiliser des icônes*/
@font-face {
  font-family: FontAwesome;
  src: url(https://kit.fontawesome.com/9c8c1704d1.js);
}

/*Utilisation de polices de substitution en plus de la police Raleway */

body {
  font-family: Raleway, Arial, Helvetica, sans-serif;
}

/*Définition des principaux styles utilisés avec la police Raleway*/

/*Utilisation de l'unité relative em pour adapter la taille du texte à partir de la taille de référence de 16px utilisée par les navigateurs */

h1 {
  font-size: 1.375em; /*22px / 16px */
}

h2 {
  font-size: 1.1875em; /*19px / 16px */
}

h3 {
  font-size: 0.875em; /*14px / 16px */
}

p {
  font-size: 0.75em; /*12px / 16px */
}

.filtre-hebergement .fas {
  font-size: 1.125em; /* 18px / 16px */
}

.fas {
  font-size: 0.65em; /*10px */
}

li {
  font-size: 0.8125em; /*13px / 16px */
}

/*Définition des couleurs de la charte*/
:root {
  --blue: #0065fc;
  --blue-light: #deebff;
  --grey: #f2f2f2;
}

/*Les liens ne sont pas soulignés*/
a {
  text-decoration: none;
  cursor: pointer;
  color: black;
}

/*Le body a la propriété box-sizing et une hauteur de viewport de 100vh*/
body {
  box-sizing: border-box;
  min-height: 100vh;
  font-family: Raleway, arial, sans-serif;
  color: black;
}

/*La div principale de la page est transformée en container flex et ses éléments sont centrés*/
#bloc-page {
  max-width: 1200px;
  margin: 0 auto;
}

/*Le header (.en-tete) comprend un logo et une barre de navigation avec deux liens menant vers les sections hébergements et activités*/

.en-tete {
  display: flex;
  justify-content: space-between;
}

/*Le logo a été passé au format svg pour ne pas être pixelisé*/

.logo-booki {
  padding: 20px;
  color: #0065fc;
}

.logo-booki img {
  width: 50%;
}

/*Navigation*/

.nav-ul {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  margin: 0;
}

.nav-ul li {
  display: flex;
  padding: 20px;
  border: 3px solid transparent;
}

.nav-ul li:hover {
  border-top: 3px solid #0065fc;
}

.nav-ul li:hover a {
  color: #0065fc;
}

/*Main */
main {
  padding: 0;
}

/*Formulaire de recherche d'hébergement*/

#recherche-hebergement {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

.h1-formulaire,
.p-formulaire {
  text-align: left;
  padding: 0 20px;
}

.form {
  display: flex;
  width: auto;
  margin-bottom: 20px;
  padding: 0 20px;
}

.form .fa-map-marker-alt {
  align-items: center;
  justify-content: center;
  border-radius: 15px 0 0 15px;
  padding: 15px;

  background-color: #f2f2f2;
  font-size: 1.125em; /* 18px / 16px */
}

.champ-recherche {
  display: flex;
}

.form input[type="text"] {
  padding: 0 10px;
  border: 1px solid #f2f2f2;
}

input::placeholder {
  color: black;
  font-weight: 700;
}

button {
  border: none;
  font-weight: 700;
  border-radius: 0 15px 15px 0;
  padding: 15px;
  background-color: #0065fc;
  color: white;
  cursor: pointer;
}

button .fas {
  display: none;
}

.liste-filtres-recherche-hebergement {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.titre-filtres-recherche-hebergement {
  padding: 0 13px 0 20px;
  font-size: 1.0625em;
  font-weight: 700;
}

.filtre-hebergement {
  display: flex;
  align-items: center;
  height: 44px;
  border: 2px solid #deebff;
  border-radius: 30px;
  margin: 0 10px;
  font-weight: bold;
}

.filtre-hebergement i {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  color: #0065fc;
  background-color: #deebff;
}

.filtre-hebergement a {
  color: #0065fc;
}

.filtre-hebergement:hover {
  color: #0065fc;
  opacity: 0.8;
}

.nombre-logements {
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.nombre-logements i {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  border: solid 2px #f2f2f2;
  font-size: 10px;
  color: #0065fc;
}

.nombre-logements p {
  justify-content: center;
}

/*Marseille : les logements disponibles et les logements populaires*/

.integralite-logements {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

#logements-region-marseille {
  display: flex;
  width: 65%;
  margin-right: 20px;
}

.contenu-bloc-hebergements {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #f2f2f2;
  border-radius: 18px;
  padding-top: 20px;
}

.contenu-bloc-hebergements h2 {
  padding: 0 20px;
  margin: 0;
}
.liste-hebergements {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 10px;
}

.liste-hebergements a {
  width: 33.33%;
  margin-bottom: 20px;
}
.card-bloc-hebergements {
  background-color: white;
  border-radius: 15px;
  padding: 5px;
  box-shadow: 5px 5px 5px 0px #e2e2e2;
  margin-right: 16px;
  max-width: 290px;
}

.photo-card-bloc-hebergements {
  flex: 33.33%;
  padding: 5px;
}

.photo-card-hebergements img {
  height: 90px;
  width: 100%;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
  object-position: center;
}

.data-card-bloc-hebergements {
  height: 18%;
  width: 100%;
  padding: 8px 8px 0 2px;
}

.card-bloc-hebergements-nom-hotel {
  margin: 0 5px;
}

.data-card-bloc-hebergements p {
  margin: 5px;
}

.card-bloc-hebergements-prix .euro {
  font-weight: bold;
}

.card-bloc-hebergements-etoiles {
  display: flex;
  padding: 0 5px 0 5px;
}

.card-bloc-hebergements-etoiles .fa-star {
  color: #0065fc;
}

.card-bloc-hebergements-etoiles .grey {
  color: #f2f2f2;
}

.afficher-plus p {
  padding-left: 20px;
  margin: 0;
  font-size: 0.9375em;
  font-weight: bold;
}

/*Section logements les plus populaires*/

#logements-populaires-marseille {
  display: flex;
  width: 35%;
}

.contenu-bloc-populaires {
  display: flex;
  flex-direction: column;
  padding: 20px 20px 0 20px;
  background-color: #f2f2f2;
  border-radius: 18px;
}

.header-bloc-populaires {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.titre-bloc-populaires h2 {
  display: flex;
  justify-content: space-between;
  margin-top: 0;
  padding-left: 20px;
}

.header-bloc-populaires i {
  display: flex;
  justify-content: space-between;
}

.liste-hebergements-populaires {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 15px;
}

.card-bloc-populaires a {
  display: flex;
}

.card-bloc-populaires {
  display: flex;
  align-items: flex-start;

  margin-bottom: 20px;
  background-color: white;
  box-shadow: -2px 4px 10px 0 #e0e0e0;
  border-radius: 20px;
  padding: 5px;
}

.photo-card-bloc-populaires {
  display: flex;
  width: 40%;
}

.photo-card-bloc-populaires img {
  height: 110px;
  width: 100%;
  object-fit: cover;
  border-radius: 15px 0 0 15px;
}

.data-bloc-populaires {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.nom-hotel-bloc-populaires {
  display: flex;
  padding-left: 15px;
}

.nom-hotel-bloc-populaires h3 {
  margin-bottom: 5px;
}

.prix-bloc-populaires {
  display: flex;
  padding-left: 15px;
}

.prix-bloc-populaires p {
  margin-top: 0;
}

.prix-bloc-populaires .euro {
  font-weight: bold;
}

.card-bloc-populaires-etoiles {
  display: flex;
  padding-left: 15px;
  padding-top: 18px;
}

.card-bloc-populaires-etoiles .fa-star {
  color: #0065fc;
}

.card-bloc-populaires-etoiles .grey {
  color: #f2f2f2;
}

/*Section Activités à Marseille*/

.titre-activites {
  margin-top: 30px;
}

#contenu-bloc-activites {
  display: flex;
  flex-direction: column;
  margin-bottom: 55px;
  padding: 0 20px;
}

.bloc-toutes-activites {
  display: flex;
  justify-content: space-between;
}

.colonne-grande-photo {
  display: flex;
  flex-direction: column;
  width: 23%;
}

.activites-pomegues,
.activites-frioul,
.activites-garde,
.activites-longchamp {
  display: flex;
  flex-direction: column;
}

figure {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 0;
  box-shadow: 0px 0px 3px var(--grey);
}

figcaption {
  padding: 15px 0 20px 20px;
  margin-top: 0;
  border-radius: 0 0 10px 10px;
  border: 1px #f2f2f2;
  box-shadow: -2px 4px 10px 0 #e0e0e0;
  font-size: 0.9375em;
  font-weight: bold;
  text-align: left;
}

.grande-photo-activites1 img,
.grande-photo-activites4 img {
  height: 350px;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 20px 20px 0 0;
}

.colonne-petites-card-activites {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 23%;
}

.petite-photo-activites-pomegues img,
.petite-photo-activites-garde img {
  height: 140px;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 30px 30px 0 0;
}

.petite-photo-activites-frioul img,
.petite-photo-activites-longchamp img {
  height: 120px;
  max-width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 30px 30px 0 0;
}

/*Footer*/

.contenu-footer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #f2f2f2;
  padding-left: 20px;
  padding-bottom: 20px;
}

.a-propos,
.nos-hebergements,
.assistance {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 33%;
}

footer ul {
  margin-top: 0;
  padding-left: 0;
}

footer li {
  list-style-type: none;
  padding: 0;
  line-height: 2em;
}

/* Adaptation pour les appareils mobiles */
/*media queries*/

/*Medium devices (tablets, less than 992px)*/
@media screen and (min-width: 768px) and (max-width: 992px) {
  #bloc-page {
    width: 70%;
    flex-direction: column;
  }

  #recherche-hebergements {
    padding: 20px;
  }

  .liste-filtres-recherche-hebergement {
    display: flex;
    flex-wrap: wrap;
  }

  .titre-filtres-recherche-hebergement {
    text-align: left;
  }

  .filtre-hebergement {
    margin-bottom: 10px;
  }

  .filtre-hebergement i {
    margin-left: -2px;
  }

  .integralite-logements,
  #logements-region-marseille,
  .contenu-bloc-hebergements {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    width: 100%;
  }

  .contenu-bloc-hebergements {
    order: 1;
    width: 100%;
    padding: 10px 0;
    background-color: rgb(255, 255, 255);
  }

  .contenu-bloc-hebergements h2 {
    padding: 20px;
  }
  .liste-hebergements {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }

  .liste-hebergements a {
    width: 100%;
  }

  .card-bloc-hebergements {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    max-width: 440px;
    margin-bottom: 10px;
  }

  .photo-card-hebergements img {
    object-fit: cover;
    object-position: center;
    height: 170px;
    width: 100%;
  }

  .card-bloc-hebergements-etoiles {
    padding-bottom: 5px;
  }

  #logements-populaires-marseille {
    width: 100%;
  }

  .contenu-bloc-populaires {
    order: 2;
    width: 100%;
    flex-direction: column;
    padding-left: 20px;
    margin-bottom: 20px;
    margin-left: 0;
    background-color: #f2f2f2;
  }

  .card-bloc-populaires {
    display: flex;
    align-items: stretch;
    width: 100%;
    border-radius: 15px;
    box-shadow: -2px 4px 10px 0 #e0e0e0;
  }

  .card-bloc-populaires img {
    height: 140px;
    object-fit: cover;
    object-position: center;
  }

  .data-bloc-populaires {
    padding-top: 20px;
  }

  .nom-hotel-bloc-populaires {
    padding-bottom: 20px;
  }

  .card-bloc-populaires-etoiles {
    padding-top: 20px;
  }

  .afficher-plus p {
    margin-bottom: 10px;
  }

  #contenu-bloc-activites {
    display: flex;
    padding: 20px;
  }

  .bloc-toutes-activites {
    display: flex;
    flex-direction: column;
  }

  .colonne-petites-card-activites,
  .colonne-grande-photo,
  .petite-photo-activites-pomegues,
  .activites-garde {
    display: flex;
    margin-bottom: 20px;
    width: 100%;
  }

  .bloc-toutes-activites img {
    object-fit: cover;
    object-position: top;
    max-height: 250px;
    flex: 1;
  }

  .petite-photo-activites-pomegues img,
  .petite-photo-activites-frioul img,
  .petite-photo-activites-longchamp img {
    object-position: center;
    object-fit: cover;
  }

  footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    border-radius: 18px;
    background-color: white;
  }

  .a-propos,
  .nos-hebergements,
  .assistance {
    width: auto;
  }

  .a-propos h3,
  .nos-hebergements h3,
  .assistance h3 {
    font-weight: 800;
  }
}

/*Small devices (landscape phones, less than 767px)*/

@media screen and (max-width: 767px) {
  body {
    min-height: 100vh;
    overflow-x: hidden;
  }

  #bloc-page {
    display: flex;
    flex-direction: column;
  }

  .en-tete {
    display: flex;
    flex-wrap: wrap;
  }

  .logo-booki {
    margin: auto;
    text-align: center;
  }

  .logo-booki img {
    width: 45%;
  }

  nav {
    width: 100%;
  }

  .nav-ul {
    border-bottom: 1px solid #f2f2f2;
    padding-left: 0;
  }

  .nav-ul li {
    padding-top: 10px;
    padding-left: 30px;
    width: 50%;
  }

  .nav-ul li:hover {
    border-top: none;
    border-bottom: 3px solid #0065fc;
    width: 50%;
  }

  #recherche-hebergements {
    padding: 0 20px;
  }

  .h1-formulaire {
    width: 82%;
  }

  .p-formulaire {
    margin-bottom: 30px;
    font-size: 0.8125em; /*13px / 16px */
  }

  .form {
    height: 50%;
  }

  .form input {
    width: 60%;
  }

  input::placeholder {
    font-size: 0.875em; /*14px / 16px */
    font-weight: 800;
  }

  button span {
    display: none;
  }

  button {
    border-radius: 15px;
    margin-left: -14px;
  }

  button .fas {
    display: flex;
    background-color: #0065fc;
    color: white;
    font-size: 0.9375em;
  }

  .liste-filtres-recherche-hebergement {
    display: flex;
    flex-wrap: wrap;
  }

  .titre-filtres-recherche-hebergement {
    width: 100%;
  }

  .titre-filtres-recherche-hebergement h2 {
    font-size: 0.9375em; /*15px / 16px */
  }

  .filtre-hebergement h3 {
    font-size: 0.8125em; /*13px / 16px */
  }

  a .titre-filtres-recherche-hebergement {
    width: 70%;
  }

  .filtre-hebergement {
    height: 35px;
    margin-bottom: 5%;
  }

  .filtre-hebergement i {
    height: 30px;
    width: 39px;
    padding: 5px;
    margin-left: -2px;
    border-radius: 50%;
  }

  .nombre-logements {
    padding-bottom: 20px;
    font-size: 0.8125em; /*13px / 16px */
    width: 83%;
    display: flex;
    align-items: flex-start;
  }

  .nombre-logements p {
    align-items: baseline;
  }

  .integralite-logements {
    display: flex;
    flex-direction: column-reverse;
  }

  #logements-region-marseille {
    width: 100%;
  }

  #logements-populaires-marseille {
    width: 100%;
    background-color: #f2f2f2;
  }

  .contenu-bloc-populaires {
    display: flex;
    border-radius: 0;
    margin: 0;
    padding: 0 5px;
  }

  .titre-bloc-populaires h2 {
    font-size: 1.125em;
  }

  .liste-hebergements-populaires {
    padding: 0;
    margin: 0;
  }

  .card-bloc-populaires {
    display: flex;
    width: 95%;
    max-width: 320px;
    border-radius: 15px;
    box-shadow: -2px 4px 10px 0 #e0e0e0;
    margin-bottom: 3px;
  }

  .card-bloc-populaires img {
    height: 120px;
    width: 100%;
    object-position: center;
    object-fit: cover;
    border-radius: 15px 0 0 15px;
  }

  .data-bloc-populaires {
    padding-left: 4px;
  }

  .nom-hotel-bloc-populaires {
    padding-right: 15px;
  }
  .card-bloc-populaires-etoiles {
    padding-top: 28px;
  }

  .card-bloc-populaires-etoiles span,
  .card-bloc-hebergements-etoiles span {
    font-size: 0.625em;
  }

  #logements-region-marseille {
    width: 100%;
  }

  .contenu-bloc-hebergements,
  .liste-hebergements {
    display: flex;
    background-color: white;
    padding: 0;
  }

  .contenu-bloc-hebergements h2 {
    font-size: 1.125em;

    padding: 25px 0 20px 10px;
  }

  .liste-hebergements a {
    width: 100%;
    margin-bottom: 10px;
  }
  .card-bloc-hebergements {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 320px;

    border-radius: 15px;
    box-shadow: -2px 4px 10px 0 #e0e0e0;
  }

  .card-bloc-hebergements img {
    height: 110px;
    width: 100%;
    max-width: 360px;
    object-position: center;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
  }

  .data-card-bloc-hebergements {
    height: 18%;
    width: 100%;
    padding: 2px 8px 0 2px;
  }

  .card-bloc-hebergements-etoiles {
    padding-bottom: 4px;
  }

  .afficher-plus p {
    font-size: 1em;
    font-weight: bolder;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .titre-activites {
    padding: 0 10px;
  }
  #contenu-bloc-activites {
    display: flex;
    padding: 0 10px;
  }

  .bloc-toutes-activites {
    display: flex;
    flex-direction: column;
  }

  .colonne-grande-photo,
  .colonne-petites-card-activites {
    width: 100%;
  }

  figure a {
    width: 100%;
  }

  figure {
    display: flex;
    width: 90%;
    margin: 10px;
  }

  figcaption {
    padding: 15px 0 15px 20px;
  }

  .bloc-toutes-activites img {
    width: 100%;
    max-width: 360px;
    height: 130px;
    object-fit: cover;
    object-position: top;
    border-radius: 20px 20px 0 0;
  }

  .petite-photo-activites-pomegues img,
  .petite-photo-activites-longchamp img,
  .grande-photo-activites4 img {
    object-position: center;
    object-fit: cover;
  }

  .contenu-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .a-propos,
  .nos-hebergements,
  .assistance {
    width: auto;
  }

  .a-propos h3,
  .nos-hebergements h3,
  .assistance h3 {
    font-weight: 800;
  }

  h1 {
    font-size: 1.1875em; /*19px / 16px */
  }

  h2 {
    font-size: 1.125em; /*18px / 16px */
  }
  h3 {
    font-size: 0.875em; /*14px / 16px */
  }

  p {
    font-size: 0.8125em; /*12px / 16px */
  }

  .form .fas,
  .filtre-hebergement .fas {
    font-size: 1em; /*15px / 16px */
  }
}
