/*Importation de la police personnalisée FontAwesome pour pouvoir utiliser des icônes*/
@font-face{
    font-family: FontAwesome;
    src: url(https://kit.fontawesome.com/9c8c1704d1.js);
}

/*Utilisation de polices de substitution en plus de la police Raleway */

body {
font-family: Raleway, Arial, Helvetica, sans-serif;
}


/*Définition des principaux styles utilisés avec la police Raleway*/

h1{
font-size: 22px;

}

h2{
font-size: 20px;

}

h3{
font-size: 18px;

}

p{
font-size: 14px;
}

/*Définition des couleurs de la charte*/
:root{
    --blue:#0065FC;
    --blue-light:#DEEBFF; 
    --grey:#F2F2F2;
}


/*Les liens ne sont pas soulignés*/
a{
    text-decoration: none;
    cursor: pointer;
    color: black;  
} 


/*Le body est transformé en container flex et ses éléments sont centrés*/
body{
    display: flex;  
    box-sizing: border-box;
     min-height: 100vh;
    font-family: Raleway, arial, sans-serif;
    color: black;
 
    }



/*La div principale de la page est transformée en container flex*/
#bloc-page{
max-width: 1400px;
margin: auto;
display: flex;
flex-direction: column;
}

/*Le header comprend un logo et une barre de navigation avec deux liens menant vers les sections hébergements et activités*/

.en-tete{
display: flex;
justify-content: space-between;                            
}

.logo-booki{
margin-top: 0;
padding-left: 10px;
color: #0065FC;
object-fit: cover;  
     
}

.logo-booki img {
    width: 50%;
}

/*Navigation*/

.navbar{
display: flex;
flex-flow: nowrap;
justify-content: flex-end; 
list-style-type: none; 
padding-left: 40px;
margin-top: 0;
}


.navbar a{
display: list-item;
list-style: none;
margin-right: 50px;
padding-top: 50px;

}
                        
.navbar a:hover{

border-top: 3px solid #0065FC; 
}


/*Formulaire de recherche d'hébergement*/    

#recherche-hebergement{
display: flex;
flex-direction: column;       
}

.titre-formulaire {
    margin-bottom: 20px;
}


.form{
display: flex;
margin-top: 5px;
margin-bottom: 20px;
border-top-left-radius: 20px;
border-bottom-left-radius: 20px;        
background-color: none;

}

.icone-map-form{
display: flex;
align-items: center; 
border-radius: 15px 0 0 15px ;
padding: 18px 18px;
background-color: #F2F2F2;
font-weight: bold;
        
}    

.champ-recherche{
    display: flex;
 
}

        
.form input[type=search]{
padding: 16px;
border: none;
margin-top: 0px;         
font-size: 20px;
border: solid #F2F2F2;    
}

input::placeholder {
    color: black;
   font-weight: 600;
    }

.bouton-rechercher{
    display: flex;
}

.form input[type=button]{
padding: 0 15px;
border: none;
margin-top: 0px;
margin-right: 16px;
font-size: 20px;

border-top-right-radius: 20px;
border-bottom-right-radius: 20px;
background-color: #0065fc;
color: white;
}

.icone-loupe{
display: none;
align-items: center;
padding: 16px;
border-top-right-radius: 20px;
border-bottom-right-radius: 20px;
color: white;
background-color:#0065fc;    
}


.liste-filtres-recherche-hebergement{
display: flex;
align-items: center;
margin: 25px 25px 25px 10px;                    
} 

.titre-filtres-recherche-hebergement{  
margin-right: 15px;  
font-weight: bolder; 
font-size: 18px;
padding-left: 5px;
text-align: center;
}

.filtre-hebergement{     
display: flex;
align-items: center; 
justify-content: space-around;
height: 44px;
border: 2px solid #F2F2F2;
border-radius: 50px;
margin-right: 20px;
           
}

.filtre-hebergement i{
display: flex;
align-items: center; 
justify-content: center;
border-radius: 50%;
}

.filtre-icone{ 
display: flex;
height: 50px;
width: 50px;
border-radius: 50%;
font-size: 18px;
color: #0065FC;
background-color: #DEEBFF;                               
}

.filtre-hebergement:hover{
 color: #0065FC;
 opacity: 0.8;
} 

                    
.nombre-logements{
display: flex;
flex-wrap: wrap;

margin-left: 10px;
margin-bottom: 20px;    
}

.nombre-logements i{
text-align: center;
border-radius: 50%;
padding: 10px;
margin-top: -5px;
box-shadow: 2px 2px 2px grey rgb(0, 0, 1);
border: solid #F2F2F2;
font-size: 12px;  
color: #0065FC;                                        
}


.texte-logements{
   display: flex;
   justify-content: baseline;
    padding-left: 10px;
    margin-top: -5px;   
}

/*Marseille : les logements disponibles et les logements populaires*/

#logements-region-marseille{
display: flex;

}
                
.contenu-bloc-hebergements{
display: flex; 
flex: 0 1 80%;
flex-direction: column;
padding: 0 20px 20px 20px;
background-color: #f2f2f2;   
border-radius: 18px;
}

.titre-bloc-hebergements{
display: flex;
justify-content: flex-start;
padding-bottom: 18px;
}

.liste-hebergements{
display: flex;
flex-flow: row wrap;
justify-content: space-around;

}


.card-bloc-hebergements{
display: flex;
flex-direction: column;
margin-bottom: 25px;
background-color: white;
border-radius: 20px;
padding: 5px 5px 10px 5px;            
}


.photo-card-hebergements img{ 
height: 130px;
width: 100%;
border-radius: 15px 15px 0 0;
object-fit: cover;
object-position: center;

}

.data-card-bloc-hebergements {
display: flex;
flex-direction: column; 
justify-content: flex-start;
padding-left: 5px;
width: 260px;
  
}

.card-bloc-hebergements-nom-hotel{
    margin: 2px;
}

.data-card-bloc-hebergements p {
    margin-top: 10px;      
    }

.card-bloc-hebergements-prix {
    display: flex;
  align-content: flex-start;
}


.card-bloc-hebergements-etoiles {
display: flex;
padding-left: 5px;

}

.card-bloc-hebergements-etoiles .fa-star {
color:#0065FC; 
}

.card-bloc-hebergements-etoiles .grey {
color:#F2F2F2;
}


.afficher-plus p {

padding: 20px; 
font-weight: bold;   
}

/*Section logements les plus populaires*/

.contenu-bloc-populaires{
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    margin-right: 5px;
    margin-left: 15px;
    padding: 0 20px 20px 20px;
    background-color: #f2f2f2; 
    border-radius: 15px;  
    
    }

.header-bloc-populaires{
display: flex;
justify-content: space-between;
align-items: baseline;
}


.titre-bloc-populaires h2{
display: flex;
justify-content: space-between;
}

.header-bloc-populaires i{
display: flex;
justify-content: space-between;
}

.liste-hebergements-populaires{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-top: 10px;
}

.card-bloc-populaires a{
    display: flex;
 
    
}

.card-bloc-populaires{
    display: flex;
    margin-top: 10px;
    margin-bottom: 50px;
    background-color: white; 
    box-shadow: -2px 4px 10px 0 #E0E0E0;
    border-radius: 20px;
    padding: 5px ;

}

.photo-card-bloc-populaires { 
    display: flex;    
    }

.photo-card-bloc-populaires img{
height: 130px;
width: 160px;
object-fit: cover;
border-radius: 15px 0 0 15px;
}


.data-bloc-populaires {
display: flex;
flex-direction: column;
 
}

.nom-hotel-bloc-populaires {
display: flex;
padding-left: 15px;

}

.nom-hotel-bloc-populaires h3{
 margin-bottom: 5px;
    }


.prix-bloc-populaires {
display: flex;
padding-left: 15px;
}

.prix-bloc-populaires p {
    margin-top: 0;      
    }

.card-bloc-populaires-etoiles {
display: flex;  

align-items: flex-end;
padding-left: 15px;
margin-top: 15px;

}

.card-bloc-populaires-etoiles .fa-star {
color:#0065FC;    
}
    
.card-bloc-populaires-etoiles .grey {    
color:#F2F2F2;   
}   


/*Section Activités à Marseille*/

#contenu-bloc-activites{
    display: flex; 
    flex-direction: column;
    }

#contenu-bloc-activites h2{
    margin-left: 10px;
    padding-top: 30px; 
}


.bloc-toutes-activites{
    display: flex;
    justify-content: space-between;
    
    padding-bottom: 20px;
    margin-bottom: 35px;               
}

.colonne-grande-photo {
    display: flex;
    flex-direction: column;
   
    
    
}

figure {
    display: flex;
    flex-direction: column;
    flex-basis: 20%;
    max-width: 300px;
    margin: auto;
    box-shadow: 4 4 10px 0 #E0E0E0;     
}


figcaption{
    padding: 15px 0 20px 20px;
    margin-top: 0;
    border-radius: 0 0 10px 10px;
    border: 1px #F2F2F2;
    box-shadow: -2px 4px 10px 0 #E0E0E0;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
}
    
.grande-photo-activites1 img, .grande-photo-activites4 img{
  
height: 380px;
width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 30px 30px 0 0;
           
}

.colonne-petites-card-activites {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
       
}

.petite-photo-activites2 img, .petite-photo-activites5 img{
  
    height: 160px;
    width: 100%;
     object-fit: cover;
    object-position: center;
    border-radius: 30px 30px 0 0;
    
}

.petite-photo-activites3 img,  .petite-photo-activites6 img {
    
    height: 120px;
    width: 300px;
    max-width: 100%;
     object-fit: cover;
     object-position: center;
     border-radius: 30px 30px 0 0;
}





/*Footer*/
    
.contenu-footer{
display: flex; 
justify-content: flex-start;
align-items: flex-start;
background-color: #F2F2F2; 
padding-top: 20px;
   
}

.a-propos, .nos-hebergements, .assistance{
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: flex-start;
margin-right: 150px;
       
}

.a-propos h3, .nos-hebergements h3, .assistance h3 {
    text-align: left;
    padding-left: 40px;
}

footer ul{
margin-top: 0;
}

footer li{
list-style-type: none;
padding: 0;  
line-height: 2em;

}




/* Adaptation pour les appareils mobiles */   
/*media queries*/

    /*Medium devices (tablets, less than 992px)*/
    @media (max-width: 991.98px) {

        body {
            display: flex;  
            min-height: 100vh;
            }

        #bloc-page{   
            display: flex;  
            flex-direction: column;
            flex-wrap: wrap;            
        }

        img {
            max-width: 100%;
            height: auto;
        }

             
    }

    
    @media (max-width: 760px) {

        body {
            display: flex;  
            flex-direction: column;
            flex-wrap: wrap;             
            min-height: 100vh;
            margin: auto;
            } 
       
     
      img {
          width: 100%;
          height: auto;
      }
       
        #bloc-page {
            width: 100%;
            margin: 5px;
            flex-wrap: wrap; 
        }

        .en-tete {
            padding: 35px 10px 10px 35px;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-between;
        }

     

        .logo-booki{                 
            order: -2;                  
        }
            
        .navbar {
            display: flex;
            justify-content: flex-end;
            order: -1;
        }

      

        .navbar a:hover{    
        color: #0065FC;
        border-top-color: transparent;    
        border-bottom: 3px solid #0065FC;   
                  
        }
     
        .titre-formulaire {
            margin-top: 25px;
        }

        .liste-filtres-recherche-hebergement {
            display: flex;
            flex-wrap: wrap; 
            width: 70%;             
        }

     

        #logements-region-marseille {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
        }
               
        .contenu-bloc-populaires {
            order: 0; 
            display: flex;
            flex-direction: column;
            width: 100%;
            font-size: 1.5em; 
            margin-bottom: 20px;         
        }

        .contenu-bloc-hebergements {
            order: 1;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
            font-size: 1.5em;   
        }

        .card-bloc-hebergements {
            width: 100%;
        }


        #contenu-bloc-activites {
            display: flex;
            justify-content: space-between;
            font-size: 1.5em; 
            width: 100
            
            %;
        }

        
        footer {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: flex-start;
            font-size: 1em; 
            width: 99%;
        }

    }


     /*Small devices (landscape phones, less than 768px)*/

     @media (max-width: 575.98px){ 

        h1{
            font-size: 21px;
            
            }
            
            h2{
            font-size: 19px;
            
            }
            
            h3{
            font-size: 17px;
            
            }
            
            p{
            font-size: 14px;
            }

        #body{
            display: flex;  
            flex-direction: column;
            flex-wrap: wrap;
                                         
        }

        #bloc-page{
            display: flex;  
            flex-direction: column;
            flex-wrap: wrap;
                                         
        }

       
        .en-tete {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 90%;
        }

        .logo-booki{                 
            order: -2; 
            text-align: center;                 
        }
            
        .navbar {
            display: flex;
            justify-content: space-around;        
            order: -1;
        }

        .navbar a:hover{    
        border-top-color: transparent;    
        border-bottom: 3px solid #0065FC;
        }
      
       li a:hover {  
        width: 300px;
            }


        .bouton-rechercher {            
        display: none;
        }

        .icone-loupe{
        display: flex;
        border-radius: 0 10px 10px 0;
        background-color: #0065fc;
        color: white;   
        }

      .titre-filtres-recherche-hebergement {
          margin-right: 33px;
      }

     .liste-filtres-recherche-hebergement{
         width: 80%;
     }

     .contenu-bloc-populaires {
        order: 1;            
        }

        .liste-hebergements {
            max-width: 100%;
        }
          
        .contenu-bloc-hebergements {
        order: 2;
        background-color: white;
        margin: 0;
        width: 90%;
         
        }

        .card-bloc-hebergements img {
            max-width: 100%;
        }

        .card-bloc-populaires {
            width: 80%;
        }

        .bloc-toutes-activites {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            font-size: 1.5em; 
            width: 100%;
                      
            }

            .bloc-toutes-activites figure{
                margin-bottom: 20px;
              
                }

            .bloc-toutes-activites img {
                display: flex;
                flex-direction: column;
                max-width: 100%;
                max-height: 140px;
            
                }

            
        
        .contenu-footer {
            display: flex;
            justify-content: space-around;
            font-size: 1em; 
            width: 100%;
        }

        .contenu-footer .a-propos .nos-hebergements .assistance {
            justify-content: center;
           
        }
       
    }
    